@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Exo", sans-serif;
}

::selection {
  background-color: rgb(5, 122, 255);
  color: rgb(204, 228, 255);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(5, 122, 255);
  height: 10%;
}
